.account__provider__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;

  h4 {
    width: 100%;
    text-align: center;
    font-size: 13px;
  }

  .provider__buttons__container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
