.account__form__label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  h3 {
    font-size: 12px;
  }
  .account__input {
    height: 32px;
    font-size: 12px;
    padding: 6px 14px;
    border: none;
    outline: 1px solid #737373;
    width: 100%;
    line-height: 14px;
    color: black;
  }
}
