.login__form__wrapper {
  .navigation__login__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    .checkout__staySignIn {
      width: 40%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      label {
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        input[type='checkbox'] {
          height: 17px;
          width: 17px;
          border-radius: 0;
          accent-color: black;
        }
        span {
          font-size: 14px;
        }
      }
    }
    .login__forgotPassword__text {
      text-decoration: underline;
      color: #313131;
      align-items: center;
      &:hover {
        color: rgba(0, 0, 255, 0.825)
      }
    }
  }
}
