.modal__product__wrapper {
  width: 200px;
  height: 276px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .modal__product__img__wrapper {
    padding-bottom: 10px;

    img {
      height: auto;
      width: 150px;
    }
  }
  .modal__product__name__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;

    .modal__product__button {
      background-color: black;
      color: #fff;
      width: 75px;
      font-size: 10px;
      height: 26px;
    }
  }
}
