.register__form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .createPassword__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;

    .password__validation {
      display: flex;
      flex-direction: column;
      span {
        font-size: 12px;
      }
    }
  }
  .mainDOB__wrapper__register {
    display: flex;
    flex-direction: column;

    p {
      color: #999;
    }
    .dob__wrapper {
      display: flex;
      gap: 10px;
    }
  }
  span {
    color: #7c7b7b;
    text-align: start;
    font-size: 11px;
    .privacy__policy__register {
      text-decoration: underline;
      color: #7c7b7b;
      &:hover {
        color: #494848;
      }
    }
  }
}
