.search__bar__wrapper{
    margin: 64px 0px;
    position: relative;
    cursor: pointer;
    input{
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
        font-size: 36px;
        cursor: pointer;
        &:focus{
            outline: none;
        }
    }
    span{
        position: absolute;
        left: 96%;
        top: 25%;
    }
}