@import '../abstracts//mixins';
@import '../abstracts/variables';

.main__wrapper {
  width: 46%;
  height: 100%;
  padding: 70px 66px 0px 70px;

  @include lg {
    width: 100%;
    padding: 0px 190px;
  }
  @include md {
    width: 100%;
    padding: 0 100px;
  }
  @include sm {
    width: 100%;
    padding: 0 14px;
  }

  .shipping__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;

    .qr__wrapper {
      height: 95px;
      border: 1px solid black;
      border-radius: 5px;
      width: 100%;
      border-top: none;

      .qr__divider {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -9px;
        height: 20px; /* Adjust this as needed */

        &::before,
        &::after {
          content: '';
          flex-grow: 1;
          background: black;
          height: 1px;
          margin: 2px;
        }

        .qr__divider__content {
          padding: 0 10px;
          font-size: 14px;
        }
      }

      .qr__button__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;

        @include sm {
        }

        @include md {
          height: 70px;
          display: block;
          margin: auto 15px;
        }
        button {
          height: 42px;
          width: 262px;
          background-color: rgb(93, 181, 69);
          border: none;
          border-radius: 5px;
          color: #fff;
          &:hover {
            background-color: rgb(76, 147, 56);
            transition: 0.5s all ease;
          }

          @include sm {
            height: 54px;
          }
          @include md {
            width: 100%;
            margin: 12px 20px;
          }
        }
      }
    }

    .or__wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -9px;
      height: 20px; /* Adjust this as needed */

      &::before,
      &::after {
        content: '';
        flex-grow: 1;
        background: black;
        height: 1px;
      }
      .or__content {
        padding: 0 10px;
        font-size: 14px;
      }
    }

    .email__form__wrapper {
      height: 130px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
      .titles__wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .right__wrapper {
          color: #00000046;
          span {
            color: $color-primary;
          }
        }
      }

      .input__wrapper {
        .checkout__email__input {
          font-size: 14px;
        }
      }
      .checkbox__wrapper {
        display: flex;
        align-items: center;
        height: 30%;
        label {
          input[type='checkbox'] {
            accent-color: black;
            height: 16px;
            width: 16px;
            &:hover {
              cursor: pointer;
            }
          }
          span {
            margin-left: 10px;
            font-size: 18px;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .shipping__form__wrapper {
      width: 100%;
    }
    .shipping__navigation {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left__items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      .continue__btn {
        width: 182px;
        height: 60px;
        background-color: #000;
        color: #fff;
        border-radius: 5px;
      }
    }

    .checkout__navigation {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 10%;
      .navigtion__items {
        border-top: 1px solid rgba(0, 0, 0, 0.319);
        display: flex;
        width: 100%;
        height: 50%;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;

        .checkout__navigation__link {
          text-decoration: none;
          color: #00000080;
          font-family: $font-primary;
          &:hover {
            color: #000000c7;
          }

          @include sm {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.links {
  text-decoration: none;
  color: #00000046;
  font-family: $font-primary;

  &:hover {
    color: #0000007b;
  }
}
