@import '../abstracts/mixins';
.title__container{
    text-align: center;
    margin: 36px 0px;
    @include sm{
        margin: 16px 0px;
    }
    @include md{
        margin: 16px 0px;
    }
    h3{
        font-size: 32px;
        @include sm{
            font-size: 18px;
        }
        @include md{
            font-size: 22px;
        }
    }
}
.collection_title_container{
    text-align: center;
    background-color: black;
    color: white;
    padding: 12px 0px;
    margin-bottom: 36px;
    .collection_title{
        margin: 0px;
        font-size: 14px;
    }
}