@import '../abstracts//mixins';
.athleisure__container {
  .athleisure__video {
    margin-bottom: 20px;
    img {
      height: 700px;
      width: 100%;
      object-fit: cover;
    }
  }
  .athleisure__image__container {
    .athleisure__image {
      img {
        height: 340px;
        width: 100%;
        object-fit: cover;
        @include sm {
          object-fit: contain;
          height: 370px;
        }
        @include md {
          object-fit: contain;
        }
      }
    }
  }
}