@import '../abstracts//mixins';
.athleisure__container {
  .athleisure__video {
    margin-bottom: 20px;
    img {
      height: 85vh;
      width: 100%;
      object-fit: cover;
      @include md{
        height: 400px;
      }
      @include sm{
        height: 400px;
      }
    }
  }
  .athleisure__image__container {
    .athleisure__image {
      img {
        height: 292px;
        width: 100%;
        object-fit: cover;
        @include sm {
          object-fit: cover;
          height: 250px;
        }
        @include md {
          object-fit: cover;
        }
      }
    }
  }
}