.account__wrapper {
  .continue__btn__register {
    height: 56px;
    background-color: black;
    color: #fff;
  }
  .create__btn__register {
    height: 56px;
    background-color: black;
    color: #fff;
  }
}
