@import '../../abstracts/mixins';

.main__payment__wrapper {
  height: auto;
  width: 45%;
  outline: none;

  background-color: $color-checkout-accordion;
  border: none;

  @include sm {
    height: auto;
    width: 100%;
    padding: 0 14px;
  }
  @include md {
    height: auto;
    width: 100%;
    padding: 0px 100px;
  }

  @include lg {
    width: 100%;
    padding: 0px 190px;
    height: auto;
  }
  .payment__wrapper {
    height: 100%;
    width: 100%;
  }
}
