@import '../../abstracts/mixins';
@import '../../abstracts/variables';

.item__payment__wrapper {
  height: auto;
  background-color: $color-checkout-accordion;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include sm {
    padding-left: 0;
    position: static;
  }
  @include md {
    padding-left: 0;
    position: static;
  }
  @include lg {
    padding: 0px;
    position: static;
  }

  .checkoutItems__main__container {
    height: 250px;
    z-index: 2;
    padding: 6px 0px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: none;
    }

    &::-webkit-scrollbar-track {
      background-color: none;
    }
  }

  .input__code__wrapper {
    width: 100%;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;

    .input__gift__code {
      width: 78%;
    }

    .apply__gift__code {
      width: 87px;
      height: 50px;
      border-radius: 5px;
      border: none;
      background-color: #c4c4c4;
      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
        transition: 0.4s all ease;
      }
    }
  }

  .orderSummary__wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #c4c4c4;
    gap: 8px;
    padding: 25px 0px;

    .itemPrice__wrapper {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
    .shippingPrice__wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .shippingPrice__price {
        font-size: 13px;
      }
    }
  }

  .checkout__total__wrapper {
    padding: 25px 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .checkout__total__title {
      font-size: 18px;
    }

    .itemTotal__currency {
      font-size: 16px;
      .itemTotal__price {
        margin-left: 10px;
        font-size: 24px;
      }
    }
  }
}
