@import '../abstracts//mixins';

.checkout__wrapper {
  width: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: flex-end;
  height: 1100px;

  @include sm {
    flex-direction: column-reverse;
  }
  @include md {
    flex-direction: column-reverse;
  }
  @include lg {
    flex-direction: column-reverse;
  }
}
