.page__not__found__wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
}
