//Colors
$color-primary: #1c4334;
$color-secondary: #fff;
$color-checkout-accordion: #f5f5f5;
$color-shipping-border: #d9d9d9;

// fonts
$font-primary: 'Bebas Neue';
$font-secondary: 'League Spartan';
