@import '../../abstracts/mixins';
.under__construction__left__wrapper {
    margin-right: 4px;
  .under__construction__left__top {
    img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        margin: 4px;
    }
  }
  .under__construction__left__bottom {
    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin: 4px;
    }
  }
}
