@import '../../abstracts/_abstracts-dir';

.under__construction__images__main {
  background-color: black;
  .under__construction__title {
    text-align: center;
    padding: 36px 0px;
    h2 {
      margin-bottom: 0px;
      color: white;
      font-size: 50px;
    }
  }
  .under__construction__images__wrapper {
    .under__construction__bottom__section {
      display: flex;
      justify-content: space-evenly;
      @include sm{
        flex-direction:column !important ;
      }
      @include md{
        flex-direction:column !important ;
      }
      @include lg{
        flex-direction: column !important;
      }
      .our__team {
        margin: 64px 0px;
        flex: 1;
        color: white;
        @include sm{
          margin: 0;
          text-align: center;
        }
        @include lg{
          margin: 0;
          text-align: center;
        }
        @include md{
          margin: 0;
          text-align: center;
        }
      }
      .under__construction__wardrobe__content {
        flex: 1;
        margin: 36px;
        @include sm{
          text-align: center;
          order: -1;
        }
        @include md{
          text-align: center;
          order: -1;
        }
        @include lg{
          text-align: center;
          order: -1;
        }
        p {
          color: white;
          margin-bottom: 36px;
        }
        button {
          width: 100%;
          padding: 12px;
          background-color: #333;
          border: none;
          font-size: 22px;
          color: white;
          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }
}
