@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Bebas Neue', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// import for abstract scss file
@import './abstracts/_abstracts-dir';

// import for base
@import './base/_base-dir';

// import for resuable components
@import './components/_components-dir';

// import for layouts
@import './layouts/_layouts-dir';

// import for page
@import './pages/_pages-dir';

// import for vendor in layman's term (imports for css framework such as MUI, Bootstrap Chakra UI etc.)
@import './vendor/_vendor-dir';
.background__blur {
  // filter: blur(50%);/* Apply the blur effect */
  position: relative;
  .background__status {
    position: fixed;
    top: 28%;
    left: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.4);
    height: 72vh;
    width: 100%;
    transition: 0.5s ease-all;
  }
  // background: transparent;
}
